
  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Montserrat:wght@500&family=Quicksand:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1b1c1e;
    color: #fff;
    min-height: 100vh;
    width: 80%;
    margin: auto;
    font-family: 'Quicksand', sans-serif
}
.answer {
    max-height: 0;
    overflow: hidden;
   transition: max-height 1.4s ease;
}
.title {
    text-align: center;
    font-size: 3rem;
    padding: 20px;
}
.question {
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    color: salmon;
}
.faq {
    border-bottom: 2px solid salmon;
    cursor: pointer;

}
b {
    font-size: 1.3rem;
}
ol {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    line-height: 1.5;

}
.answer-text {
    margin-bottom: 20px;
    padding: 5px;
    font-size: 1.4rem;
    line-height: 1.2;
   
}
.faq.active .answer {
 max-height: 300px;
 animation: fade 1s ease-in-out;
}
.faq.active .icon {
    transform: rotate(180deg);
}
.icon {
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}






